body {
  font-family: 'Source Sans 3', sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url(./images/banner.jpg);
  background-repeat: no-repeat;
  /* to increase background image size */
  background-size: 100%;
  background-color: #f5f5f5;
}

nav {
  display: flex;
  justify-content: space-between;
  /*  1rem --> 16px */
  padding: 0rem 1rem;
}

nav > #left > h1 {
  color: white;
  font-size: 1rem;
}

nav > #left > h1 > span {
  font-weight: 100;
}

nav > #right > #right-cont {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

#right-cont > li > a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  /* due to inline level it is not accepting padding top and padding botton hence convert it to block level  */
  display: block;
  font-size: 1.2rem;
}

#right-cont > li > a > button {
  color: white;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid rgb(223, 211, 211);
  padding: 5px 15px;
  cursor: pointer;
}

#drop {
  position: relative;
}

#menu {
  list-style-type: none;
  background-color: white;
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: 0%;
  top: 100%;
  width: 200%;
  display: none;
}

#menu > li > a {
  text-decoration: none;
  color: grey;
  padding: 1rem;
  /* due to inline element padding vertically is not accepting  hence convert it to block level element  */
  display: block;
  border-bottom: 1px solid rgb(222, 220, 220);
}

#drop:hover #menu {
  display: block;
}

#menu > li > a:hover {
  background-color: orange;
  color: white;
}

#menu2 {
  background-color: white;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0%;
  right: 100%;
  width: 100%;
  display: none;
}

#menu2 > li > a {
  font-size: 1rem;
  text-decoration: none;
  color: grey;
  padding: 1rem;
  /* due to inline element padding vertically is not accepting  hence convert it to block level element  */

  display: block;
  border-bottom: 1px solid rgb(222, 220, 220);
}

#menu2 > li > a:hover {
  background-color: orange;
  color: white;
}

#drop2 {
  position: relative;
}

#drop2:hover #menu2 {
  display: block;
}

#alpha {
  text-align: center;
  color: white;
  margin-top: 7rem;
}

#alpha > h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

#alpha > p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

#alpha > button {
  width: 12%;
  height: 3rem;
  border-radius: 5px;
  border: none;
  color: grey;
  margin-right: 1rem;
  cursor: pointer;
}

#alpha > #learn {
  background-color: transparent;
  border: 2px solid rgb(207, 202, 202);
  color: white;
}

#intro {
  background-color: white;
  text-align: center;
  /* for block level ......  change the width to any width and to align content to centre use margin auto ... automatically gives margin to all the sides */
  width: 70%;
  margin: auto;
  margin-top: 9rem;
  border-radius: 5px;
  padding-top: 2rem;
}

#intro > h2 {
  font-size: 2rem;
  color: grey;
}

#intro > p {
  border-top: 2px solid rgb(220, 216, 216);
  /* covers the 60% of the parent width from the left side  */
  width: 60%;
  /* to align the content at centre use margin auto */
  margin: auto;
  font-size: 1.2rem;
  padding-top: 2rem;
}

#intro > img {
  width: 100%;
  margin-top: 2rem;
  border-bottom-right-radius: 5px;
}

#icons {
  display: flex;
  flex-direction: column;
  /* border:2px solid red;  */
  color: grey;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem;
}

#icons > #icons1 {
  /* border: 2px solid red; */
  display: flex;
}

.allIcons {
  text-align: center;
  padding: 10px;
  /* letter-spacing: -1px; */
}

/* FOR NORMAL FONTAWESOME ICON (ie not the pro version) PROVIDING CUSTOM PROPERTY TO EACH ICON  */

.allIcons > div > .fa-bolt-lightning {
  background-color: #e89980;
  color: white;
  border-radius: 100%;
  font-size: 2.5rem;
  padding: 1.8rem 1.9rem;
}

.allIcons > div > .fa-chart-area {
  background-color: #7fcdb8;
  color: white;
  border-radius: 100%;
  font-size: 2.5rem;
  padding: 1.8rem 2rem;
}

.allIcons > div > .fa-cloud {
  background-color: #90b0ba;
  color: white;
  border-radius: 100%;
  font-size: 2.5rem;
  padding: 1.8rem 2rem;
}

.allIcons > div > .fa-lock {
  background-color: #e5cb95;
  color: white;
  border-radius: 100%;
  font-size: 2.5rem;
  padding: 1.8rem 2rem;
}

.allIcons > h1 {
  color: #646464;
}
.allIcons > p {
  color: #777777;
}

#icons > #icons2 {
  display: flex;
}

#icons > #icons1 > #icons-a {
  border-right: 2px solid rgb(217, 216, 216);
}
#icons > #icons2 > #icons-c {
  border-right: 2px solid rgb(217, 216, 216);
}

#icons > #icons2 > #icons-c {
  border-top: 2px solid rgb(217, 216, 216);
}

#icons > #icons2 > #icons-d {
  border-top: 2px solid rgb(217, 216, 216);
}

#card {
  /* border: 2px solid green; */
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#card1,
#card2 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
}

#card1 > img {
  width: 100%;
}

#card1 > #card1-a {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

#card1 > #card1-a > button {
  width: 30%;
  height: 3rem;
  border-radius: 5px;
  color: #777777;
  border: 2px solid rgb(217, 216, 216);
  margin-right: 1rem;
  cursor: pointer;
  background-color: #ffffff;
  margin-bottom: 2rem;
  font-size: 1rem;
}

#card2 > #card2-a > button {
  width: 30%;
  height: 3rem;
  border-radius: 5px;
  border: 2px solid rgb(217, 216, 216);
  color: #777777;
  margin-right: 1rem;
  cursor: pointer;
  background-color: #ffffff;
  margin-bottom: 2rem;
  font-size: 1rem;
}

#card1-a > h1 {
  font-size: 2rem;
  color: #646464;
}

#card2-a > h1 {
  font-size: 2rem;
  color: #646464;
}
#card1-a > p {
  font-size: 16px;
  color: #777;
}

#card2-a > p {
  font-size: 16px;
  color: #777;
}

#card2 > img {
  width: 100%;
}

#card2 > #card2-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

#signup {
  background-color: #e89990;
  width: 100%;
  text-align: center;
  color: white;
  padding: 4rem 0rem;
}

#signup > h1 {
  margin: 0px;
  font-size: 2rem;
  color: #f9e6df;
}

#signup > p {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #f9e6df;
  letter-spacing: -0.2px;
}

#signup > input {
  padding: 1rem;
  width: 20%;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-right: 8px;
  border: none;
  font-weight: 100;
}

#signup > input::placeholder {
  color: white;
}

#signup > button {
  width: 10%;
  border-radius: 5px;
  text-align: center;
  padding: 0.9rem;
  font-size: 1rem;
  background-color: #fffff;
  color: #e89990;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 4rem 0rem;
  color: #999999;
}

footer > #logo {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

footer > #text {
  display: flex;
  justify-content: center;
}

footer > #text > p {
  font-size: 0.9rem;
  margin-top: 1rem;
}

footer > #text > #text-p {
  border-left: 1px solid #d7d5d5;
  border-right: 1px solid #d7d5d5;
  padding: 0px 10px;
}

#text-p1 {
  margin-right: 10px;
}

#text-p2 {
  margin-left: 10px;
}

/* for mobile */

@media (max-width: 600px) {
  body {
    /* to increase background image size */
    background-size: 160%;
    /*  for horizontally centre */
    background-position-x: center;
  }

  nav {
    display: none;
  }

  #mob-btn {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 5px;
  }

  #alpha {
    width: 80%;
    margin: auto;
    margin-top: 0rem;
  }

  #alpha > h1 {
    font-size: 2rem;
  }

  #alpha > p {
    font-size: 1.1rem;
  }

  #alpha > button {
    width: 100%;
    margin-bottom: 1rem;
  }

  #intro {
    width: 100%;
    margin-top: 0rem;
    border-radius: 0px;
    /* padding-top:2rem; */
  }

  #intro > h2 {
    font-size: 1.5rem;
  }

  #intro > p {
    /* covers the 60% of the parent width from the left side  */
    width: 90%;
  }

  /* for mobile version break tag is not needed else it will take unwanted space */
  br {
    display: none;
  }

  #icons {
    width: 100%;
  }

  #icons > #icons1 {
    flex-direction: column;
  }

  #icons > #icons2 {
    flex-direction: column;
  }

  #icons > #icons1 {
    text-align: center;
  }

  #icons > #icons2 {
    text-align: center;
  }

  #icons > #icons1 > #icons-a {
    border-right: none;
  }

  #icons > #icons1 > #icons-b {
    border-top: 1px solid grey;
  }

  #icons > #icons2 > #icons-c {
    border-top: 1px solid grey;
    border-right: none;
  }

  #icons > #icons2 > #icons-d {
    border-top: 1px solid grey;
  }

  #card {
    width: 100%;
    flex-direction: column;
  }

  #card1 {
    width: 100%;
  }

  #card2 {
    width: 100%;
  }

  #card1 > #card1-a > h1 {
    font-size: 22px;
  }

  #card1 > #card1-a > p {
    font-size: 15px;
  }

  #card2 > #card2-a > h1 {
    font-size: 22px;
  }

  #card2 > #card2-a > p {
    font-size: 15px;
  }

  #card2 > img {
    width: 100%;
  }

  #card1 > #card1-a > button {
    width: 100%;
    padding: 0px 30px;
    height: 3rem;
    border-radius: 5px;
    color: #777777;
    border: 2px solid rgb(217, 216, 216);
    margin-right: 1rem;
    cursor: pointer;
    background-color: #ffffff;
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  #card2 > #card2-a > button {
    width: 100%;
    padding: 0px 30px;
    font-size: 1rem;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid rgb(217, 216, 216);
    color: #777777;
    margin-right: 1rem;
    cursor: pointer;
    background-color: #ffffff;
    margin-bottom: 2rem;
  }

  /* to be done from here.......................................................... */

  #signup {
    background-color: #e89990;
    width: 100%;
    text-align: center;
    color: white;
    padding: 4rem 0rem;
  }

  #signup > h1 {
    margin: 0px;
    font-size: 2rem;
    color: #f9e6df;
  }

  #signup > p {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #f9e6df;
    letter-spacing: -0.2px;
  }

  #signup > input {
    padding: 1rem;
    width: 20%;
    font-size: 0.9rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-right: 8px;
    border: none;
    font-weight: 100;
  }

  #signup > input::placeholder {
    color: white;
  }

  #signup > button {
    width: 10%;
    border-radius: 5px;
    text-align: center;
    padding: 0.9rem;
    font-size: 1rem;
    background-color: #fffff;
    color: #e89990;
    font-weight: 400;
    border: none;
    cursor: pointer;
  }

  footer {
    width: 100%;
    padding: 4rem 0rem;
    color: #999999;
  }

  footer > #logo {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  footer > #text {
    display: flex;
    justify-content: center;
  }

  footer > #text > p {
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  footer > #text > #text-p {
    border-left: 1px solid #d7d5d5;
    border-right: 1px solid #d7d5d5;
    padding: 0px 10px;
  }

  #text-p1 {
    margin-right: 10px;
  }

  #text-p2 {
    margin-left: 10px;
  }
}

/* #mob-btn {
  display: none;
} */
