body {
  font-family: 'Source Sans 3', sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url(./images/banner.jpg);
  background-repeat: no-repeat;
  /* to increase background image size */
  background-size: 100%;
  background-color: #f5f5f5;
  filter: brightness(1);
}

/* by default the mob-btn will not display unless mobile version is not used  */
#mob-btn {
  display: none;
}

/* for nav section  */
nav {
  display: flex;
  justify-content: space-between;
  /*  1rem --> 16px */
  padding: 0rem 1rem;
}

nav > #left > h1 {
  color: white;
  font-size: 1rem;
}

nav > #left > h1 > span {
  font-weight: 100;
}

nav > #right > #right-cont {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

#right-cont > li > a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  /* due to inline level it is not accepting padding top and padding botton hence convert it to block level  */
  display: block;
  font-size: 1.2rem;
}

#right-cont > li > a > button {
  color: white;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid rgb(223, 211, 211);
  padding: 5px 15px;
  cursor: pointer;
}

#drop {
  position: relative;
}

#menu {
  list-style-type: none;
  background-color: white;
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: 0%;
  top: 100%;
  width: 200%;
  display: none;
}

#menu > li > a {
  text-decoration: none;
  color: grey;
  padding: 1rem;
  /* due to inline element padding vertically is not accepting  hence convert it to block level element  */
  display: block;
  border-bottom: 1px solid rgb(222, 220, 220);
}

#drop:hover #menu {
  display: block;
}

#menu > li > a:hover {
  background-color: orange;
  color: white;
}

#menu2 {
  background-color: white;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0%;
  right: 100%;
  width: 100%;
  display: none;
}

#menu2 > li > a {
  font-size: 1rem;
  text-decoration: none;
  color: grey;
  padding: 1rem;
  /* due to inline element padding vertically is not accepting  hence convert it to block level element  */

  display: block;
  border-bottom: 1px solid rgb(222, 220, 220);
}

#menu2 > li > a:hover {
  background-color: orange;
  color: white;
}

#drop2 {
  position: relative;
}

#drop2:hover #menu2 {
  display: block;
}

/* for alpha section  */
#alpha {
  text-align: center;
  color: white;
  margin-top: 5rem;
  /* border: 1px solid red; */
}

#alpha > h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

#alpha > p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

#alpha > button {
  width: 12%;
  height: 3rem;
  border-radius: 5px;
  border: none;
  color: grey;
  margin-right: 1rem;
  cursor: pointer;
}

#alpha > #learn {
  background-color: transparent;
  border: 2px solid rgb(207, 202, 202);
  color: white;
}

/* for intro section  */
#intro {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  /* for block level ......  change the width to any width and to align content to centre use margin auto ... automatically gives margin to all the sides */
  width: 70%;
  margin: auto;
  margin-top: 9rem;
  border-radius: 5px;
  padding-top: 2rem;
}

#intro > h2 {
  font-size: 2rem;
  color: #777;
  font-weight: 500;
}

#intro > p {
  border-top: 2px solid rgb(220, 216, 216);
  /* covers the 60% of the parent width from the left side  */
  width: 60%;
  /* to align the content at centre use margin auto */
  margin: auto;
  font-size: 1.2rem;
  padding-top: 2rem;
}

#intro > img {
  width: 100%;
  margin-top: 2rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* for icon section  */
#icons {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  color: grey;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
}

#icons > #icons1 {
  /* border: 2px solid red; */
  display: flex;
  padding: 1rem 1rem 0rem 1rem;
}

.allIcons {
  width: 100%;
  text-align: center;
  padding: 10px;
}

/* FOR NORMAL FONTAWESOME ICON (ie not the pro version) PROVIDING CUSTOM PROPERTY TO EACH ICON  */

.allIcons > div > .fa-bolt-lightning {
  background-color: #e89980;
  color: white;
  border-radius: 80%;
  font-size: 2rem;
  padding: 1.5rem 1.9rem;
}

.allIcons > div > .fa-chart-area {
  background-color: #7fcdb8;
  color: white;
  border-radius: 80%;
  font-size: 2rem;
  padding: 1.5rem 1.6rem;
}

.allIcons > div > .fa-cloud {
  background-color: #90b0ba;
  color: white;
  border-radius: 80%;
  font-size: 2rem;
  padding: 1.5rem 1.5rem;
}

.allIcons > div > .fa-lock {
  background-color: #e5cb95;
  color: white;
  border-radius: 80%;
  font-size: 2rem;
  padding: 1.5rem 1.8rem;
}

.allIcons > h1 {
  color: #646464;
}

.allIcons > p {
  color: #6c6c6c;
  font-size: 1rem;
  letter-spacing: -0.5px;
}

#icons > #icons2 {
  display: flex;
  padding: 0rem 1rem 1rem 1rem;
}

#icons > #icons1 > #icons-a {
  border-right: 2px solid rgb(217, 216, 216);
}
#icons > #icons2 > #icons-c {
  border-right: 2px solid rgb(217, 216, 216);
}

#icons > #icons2 > #icons-c {
  border-top: 2px solid rgb(217, 216, 216);
}

#icons > #icons2 > #icons-d {
  border-top: 2px solid rgb(217, 216, 216);
}

/* for card section  */
#card {
  width: 70%;
  margin: auto;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
}

.common_outer_card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 48%;
  background-color: #ffffff;
}

.common_outer_card > img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.common_outer_card > .common_inner_card > button {
  width: 30%;
  margin: auto;
  height: 2rem;
  border-radius: 5px;
  color: #777777;
  border: 2px solid rgb(217, 216, 216);
  cursor: pointer;
  background-color: #ffffff;
  margin-bottom: 2rem;
  font-size: 0.7rem;
}

.common_inner_card > h1 {
  font-size: 1.5rem;
  font-weight: 300;
  color: ##646464;
}

.common_inner_card > p {
  margin-top: 0;
  font-size: 1rem;
  color: #777;
}

/* for signup section  */
#signup {
  background-color: #e89990;
  width: 100%;
  text-align: center;
  color: white;
  padding: 4rem 0rem;
}

#signup > h1 {
  margin: 0px;
  font-size: 2rem;
  color: #f9e6df;
}

#signup > p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #f9e6df;
  word-spacing: 1px;
}

#signup > input {
  padding: 1rem;
  width: 20%;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-right: 8px;
  border: none;
  font-weight: 100;
}

#signup > input::placeholder {
  color: #fff;
  font-weight: 100;
  font-size: 0.8rem;
}

#signup > button {
  width: 10%;
  border-radius: 5px;
  text-align: center;
  padding: 0.9rem;
  font-size: 1rem;
  background-color: #ffffff;
  color: #e89990;
  font-weight: 300;
  border: none;
  cursor: pointer;
}

/* for footer section  */
footer {
  width: 100%;
  padding: 4rem 0rem;
  color: #999999;
}

footer > #logo {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}

footer > #text {
  display: flex;
  justify-content: center;
}

footer > #text > p {
  font-size: 1rem;
  margin-top: 1rem;
  color: #6c6c6c;
}

footer > #text > #text-p {
  border-left: 1px solid rgba(208, 208, 208, 0.951);
  border-right: 1px solid rgb(208, 208, 208, 0.951);
  padding: 0px 10px;
}

footer > #text > p > a {
  font-size: 1rem;
  margin-top: 1rem;
  color: #6c6c6cc8;
  text-decoration: none;
  border-bottom: dotted 1px;
}

#text-p1 {
  margin-right: 10px;
}

#text-p2 {
  margin-left: 10px;
}
#text-p2 > a {
  font-size: 1rem;
  margin-top: 1rem;
  color: #6c6c6cc8;
  text-decoration: none;
  border-bottom: dotted 1px;
}

/* for mobile */

@media (max-width: 600px) {
  body {
    /* to increase background image size */
    background-size: 170%;
    /*  for horizontally centre */
    background-position-x: center;
    background-color: red;
  }

  /* for nav section  */
  nav {
    display: none;
  }

  #mob-btn {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 0.5rem 1.2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 5px;
  }

  /* for alpha section  */
  #alpha {
    /* border: 2px solid blue; */
    width: 80%;
    margin: auto;
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
  }

  #alpha > h1 {
    margin-top: 1.5rem;
    font-size: 2rem;
  }

  #alpha > p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    word-spacing: -0.5px;
    letter-spacing: -0.5px;
  }

  #alpha > button {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 0.7rem;
    padding: 0rem 1.5rem;
    height: 2.7rem;
  }

  #alpha > #learn {
    margin-bottom: 3.5rem;
  }

  /* for intro section */
  #intro {
    /* border: 2px solid yellow; */
    width: 100%;
    margin-top: 0rem;
    border-radius: 0px;
  }

  #intro > h2 {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    color: #646464;
    padding: 0rem 0rem;
  }

  #intro > p {
    /* covers the 60% of the parent width from the left side  */
    width: 100%;
    color: #777777;
    padding: 1.8rem 0rem 0rem 0rem;
    letter-spacing: -0.5px;
  }

  #intro > img {
    /* padding-left: -2rem; */
    width: 100%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  /* for mobile version break tag is not needed else it will take unwanted space */
  br {
    display: none;
  }

  #icons {
    width: 100%;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 0px;
    padding: 3rem 0rem 1rem 0rem;
  }
  #icons > #icons1 {
    /* border: 2px solid yellow; */
    flex-direction: column;
    align-items: center;
  }

  #icons > #icons2 {
    /* border: 2px solid yellow; */
    flex-direction: column;
    align-items: center;
  }

  #icons > #icons1 > #icons-a {
    border-right: none;
    padding-top: 0;
  }

  #icons > #icons1 > #icons-b {
    border-top: 1px solid grey;
  }

  #icons > #icons2 > #icons-c {
    border-top: 1px solid grey;
    border-right: none;
  }

  #icons > #icons2 > #icons-d {
    border-top: 1px solid grey;
  }

  .allIcons {
    padding-top: 2rem;
  }

  .allIcons > h1 {
    color: #646464;
    font-weight: 400;
    font-size: 1.5rem;
  }

  /* for card section  */
  #card {
    /* border: 2px solid blue; */
    width: 100%;
    margin: 0;
    flex-direction: column;
  }

  /* common className for both cards  */
  .common_outer_card {
    padding: 0rem;
    /* border: 2px solid green; */
    width: 100%;
  }

  .common_outer_card > img {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  .common_outer_card > .common_inner_card > button {
    width: 90%;
    height: 3rem;
    padding: 0rem 1.5rem;
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }

  .common_inner_card > h1 {
    margin-top: 2rem;
  }

  .common_inner_card > p {
    margin-bottom: 1.5rem;
    padding: 0rem 1rem;
    text-align: center;
    letter-spacing: -0.3px;
  }

  /* for signup section  */
  #signup {
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem 3rem 0rem;
  }

  #signup > h1 {
    font-size: 1.5rem;
  }

  #signup > p {
    text-align: center;
    word-spacing: 0px;
    padding: 0rem 0rem;
    margin-bottom: 1.5rem;
  }

  #signup > input {
    padding: 0rem 0rem 0rem 1rem;
    height: 3rem;
    /* border: 2px solid yellow; */
    width: 95%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  #signup > input::placeholder {
    font-size: 1rem;
  }

  #signup > button {
    width: 100%;
    height: 3rem;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 1.2rem;
  }

  /*edit from here ...............................................*/

  /* for footer section  */
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f0f0f0;
  }

  footer > #logo {
    text-align: center;
    font-size: 2rem;
  }

  footer > #text {
    flex-direction: column;
  }

  footer > #text > p {
    font-size: 1.3rem;
    margin-top: 0rem;
  }

  footer > #text > #text-p {
    border-left: none;
    border-right: none;
    padding: 0;
  }

  footer > #text > p > a {
    font-size: 1.3rem;
    margin-top: 0rem;
  }

  #text-p1 {
    margin-right: 0px;
  }

  #text-p2 {
    margin-left: 0px;
  }
  #text-p2 > a {
    font-size: 1.3rem;
    margin-top: 0rem;
  }
}
