/* for card section  */
#card {
  border: 2px solid yellow;
  width: 100%;
  margin: auto;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
}

.common_outer_card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 48%;
  background-color: #ffffff;
}

.common_outer_card > img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.common_outer_card > .common_inner_card > button {
  width: 30%;
  margin: auto;
  height: 2rem;
  border-radius: 5px;
  color: #777777;
  border: 2px solid rgb(217, 216, 216);
  cursor: pointer;
  background-color: #ffffff;
  margin-bottom: 2rem;
  font-size: 0.7rem;
}

.common_inner_card > h1 {
  font-size: 1.5rem;
  font-weight: 300;
  color: ##646464;
}

.common_inner_card > p {
  margin-top: 0;
  font-size: 16px;
  color: #777;
}

/* for signup section  */
#signup {
  background-color: #e89990;
  width: 100%;
  text-align: center;
  color: white;
  padding: 4rem 0rem;
}

#signup > h1 {
  margin: 0px;
  font-size: 2rem;
  color: #f9e6df;
}

#signup > p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #f9e6df;
  word-spacing: 1px;
}

#signup > input {
  padding: 1rem;
  width: 20%;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-right: 8px;
  border: none;
  font-weight: 100;
}

#signup > input::placeholder {
  color: #fff;
  font-weight: 100;
  font-size: 0.8rem;
}

/* for card section  */
#card {
  width: 100%;
  flex-direction: column;
}

#card1 {
  width: 100%;
  text-align: center;
}

#card2 {
  width: 100%;
  text-align: center;
}

#card1 > #card1-a > h1 {
  font-size: 22px;
}

#card1 > #card1-a > p {
  font-size: 15px;
}

#card2 > #card2-a > h1 {
  font-size: 22px;
}

#card2 > #card2-a > p {
  font-size: 15px;
}

#card2 > img {
  width: 100%;
}

#card1 > #card1-a > button {
  width: 100%;
  margin: auto;
  padding: 0px 30px;
  height: 3rem;
  border-radius: 5px;
  color: #777777;
  border: 2px solid rgb(217, 216, 216);
  cursor: pointer;
  background-color: #ffffff;
  margin-bottom: 2rem;
  font-size: 1rem;
}

#card2 > #card2-a > button {
  width: 100%;
  margin: auto;
  padding: 0px 30px;
  font-size: 1rem;
  height: 3rem;
  border-radius: 5px;
  border: 2px solid rgb(217, 216, 216);
  color: #777777;
  /* margin-right: 1rem; */
  cursor: pointer;
  background-color: #ffffff;
  margin-bottom: 2rem;
}

#signup {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
}

#signup > h1 {
  margin-bottom: 0.7rem;
  font-size: 1.8rem;
}

#signup > p {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 1rem;
}

#signup > input {
  width: 82%;
  margin: auto;
  margin-bottom: 1rem;
}

#signup > input::placeholder {
  color: white;
}

#signup > button {
  width: 90%;
  margin: auto;
  padding: 0.9rem;
}

/* to be done from here.......................................................... */
/* for footer section  */
footer {
  width: 100%;
  padding: 4rem 0rem;
  color: #999999;
}

footer > #logo {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}

footer > #text {
  display: flex;
  justify-content: center;
}

footer > #text > p {
  font-size: 1rem;
  margin-top: 1rem;
  color: #6c6c6c;
}

footer > #text > #text-p {
  border-left: 1px solid rgba(208, 208, 208, 0.951);
  border-right: 1px solid rgb(208, 208, 208, 0.951);
  padding: 0px 10px;
}

footer > #text > p > a {
  font-size: 1rem;
  margin-top: 1rem;
  color: #6c6c6cc8;
  text-decoration: none;
  border-bottom: dotted 1px;
}

#text-p1 {
  margin-right: 10px;
}

#text-p2 {
  margin-left: 10px;
}
#text-p2 > a {
  font-size: 1rem;
  margin-top: 1rem;
  color: #6c6c6cc8;
  text-decoration: none;
  border-bottom: dotted 1px;
}
