body {
  background-color: black;
}
hr {
  height: 10px;
  background-color: #232323;
  border: none;
  margin-top: 4rem;
  margin-bottom: 0%;
}

#mob_inner {
  border: 3px solid red;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3rem;
  /* margin: auto; */
  display: flex;
}

#left_div {
  /* border: 3px solid yellow; */
  position: relative;
  width: 60%;
}

/* mobile image  */
#left_div > #left_inner1 > img {
  width: 80%;
}

/* absolute div for overlapping */
#left_div > #left_inner2 {
  display: flex;
  border: 2px solid grey;
  border-radius: 15px;
  background-color: black;
  width: 16rem;
  height: 4rem;
  position: absolute;
  z-index: 2;
  bottom: 8%;
  left: 18%;
  padding: 10px;
}

#left_div > #left_inner2 > #pic > img {
  /* border: 2px solid red; */
  width: 3rem;
  height: 4rem;
  margin-right: 5px;
}

#left_div > #left_inner2 > #strange {
  /* border: 1px solid green; */
  text-align: left;
}

#left_div > #left_inner2 > #strange > h5 {
  padding-top: 1rem;
  margin-bottom: 0%;
  font-size: 15px;
  padding-right: 2rem;
  color: white;
  margin-top: 0%;
}

#left_div > #left_inner2 > #strange > p {
  font-size: 14px;
  margin-top: 0%;
  color: rgb(0, 60, 255);
  margin-bottom: 0%;
}

#left_div > #left_inner2 > #gif > img {
  height: 4rem;
}
/* 
#right_div {
  background-color: #641ae4;
}

#right_div > h2 {
  font-size: 3rem;
} */

#right_div {
  width: 50%;
  color: white;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 0%;
}

#right_div > h2 {
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: -1px;
  margin: 0%;
}

#right_div > p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  /* letter-spacing: -1px; */
  /* width: 120%;
  margin-left: 4rem; */
}
