body {
  margin: 0px;
  padding: 0px;
}

nav {
  background-color: black;
  width: 10%;
  height: 100vh;
}

#outer_list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  color: white;
  /* anchor is by default display:inline element hence converting it to display: block */
  display: block;
}
a:hover {
  background-color: pink;
  color: black;
}

.innerList1,
.innerList2,
.innerList3,
.innerList4 {
  position: relative;
}

.dropList1,
.dropList2,
.dropList3,
.dropList4 {
  background-color: rgb(0, 195, 255);
  list-style-type: none;
  padding: 0px;
  position: absolute;
  top: 0%;
  left: 100%;
  display: none;
}

.innerList1:hover .dropList1 {
  display: block;
}

.innerList2:hover .dropList2 {
  display: block;
}

.innerList3:hover .dropList3 {
  display: block;
}

.innerList4:hover .dropList4 {
  display: block;
}

.outer_List2 {
  padding: 0px;
  list-style-type: none;
  position: absolute;
  top: 0%;
  left: 100%;
  background-color: blue;
  display: none;
}

.innerMenu1,
.innerMenu2,
.innerMenu3,
.innerMenu4,
.innerMenu5,
.innerMenu6,
.innerMenu7,
.innerMenu8,
.innerMenu9,
.innerMenu10,
.innerMenu11,
.innerMenu12 {
  position: relative;
}

.innerMenu1:hover .outer_List2 {
  display: block;
}
.innerMenu2:hover .outer_List2 {
  display: block;
}
.innerMenu3:hover .outer_List2 {
  display: block;
}
.innerMenu4:hover .outer_List2 {
  display: block;
}
.innerMenu5:hover .outer_List2 {
  display: block;
}
.innerMenu6:hover .outer_List2 {
  display: block;
}
.innerMenu7:hover .outer_List2 {
  display: block;
}
.innerMenu8:hover .outer_List2 {
  display: block;
}
.innerMenu9:hover .outer_List2 {
  display: block;
}
.innerMenu10:hover .outer_List2 {
  display: block;
}
.innerMenu11:hover .outer_List2 {
  display: block;
}
.innerMenu12:hover .outer_List2 {
  display: block;
}
